html {
  font-size: 100px;
}
body {
  padding: 0;
  margin: 0;
  background: #000;
  color: #fff;
  font-size: .16rem;
}
.wrapper {
  margin: 50px auto 0;
  width: 95%;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu {
  width: 20%;
  float: left;
  background: rgba(43, 43, 43, 0.48);
  text-align: center;
  padding: 2%;
  border-radius: 5%;
  box-sizing: border-box;
}
.visual-box {
  padding-left: 25%; 
}
.musics .music {
  line-height: 2;
  cursor: pointer;
}
